.Project {
  text-align: center;
  background-color: #282c34;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appAlphabet{
  margin-top: 20px;
  background-color:#f6f9ff;
  border-radius:5%;
  width: 3.5%;
  height: 560px;
  margin-right: 10px;
  float: right;
  overflow: scroll;
}
